---

---

<section class="oremerket-hero">
    <div class="oremerket-hero-text">
        <h1>DANKORT ØREMÆRKET</h1>
    </div>

</section>



<style>
    .oremerket-hero {
        min-height: 520px;
        background: url("/Img/oremerket-hero.webp") center/cover no-repeat;
        display: flex;
        position: relative;
        padding: 2rem 1rem;
        width: 100%;
    }
    .oremerket-hero-text h1 {
        font-size: 2.2rem;
        line-height: 1.1;
        margin: 0;
        font-weight: 900;
        color: white;
       position: absolute;
        left: 2.2rem;
        bottom: 32%;
        margin: 0;
        z-index: 2;
        letter-spacing: 0.05rem;
    }
    
    @media (min-width: 900px) {
        .oremerket-hero {
       height: 700px;
      align-items: center;
      padding: 4rem 6rem;
        }
            .oremerket-hero-text h1 {
        font-size: 3rem;
        bottom: 31%;
            }
    }
</style>
