---
import Button from "./button.astro";

---

<section class="oeremaerket-section">

  <div class="oeremaerket-content">
    <h2>Dankort Øremærket</h2>

    <p>
      Gennem vores samarbejde med
      <strong>Den Danske Naturfond</strong>
      donere vi 1-3 øre, hver gang der betales med
      <span>Dankort</span>.

      Et samarbejde som vi har valgt at kalde
      <span>Dankort</span>
      <strong>Øremærket</strong>,
      fordi pengene er Øremærket til at sikre meget mere dansk natur i hele landet.
    </p>

    <div class="oeremaerket-button-wrap">
      <Button text="Læs mere" link="/oremerket" />
    </div>
  </div>

  <div class="oeremaerket-image">
    <img src="Img/oremerket-forside.webp" alt="Dansk natur" />
  </div>

</section>

<style>
  .oeremaerket-section {
    padding: 4rem 2rem;
    border-bottom: 3px solid var(--the-grey);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: var(--the-background);
  }

  .oeremaerket-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .oeremaerket-content h2 {
    font-size: 1.8rem;
    line-height: 1.1;
    font-weight: 900;
    margin: 0;
  }

  .oeremaerket-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
  }

  .oeremaerket-content span {
    color: var(--the-red);
  }

  .oeremaerket-button-wrap {
    display: flex;
    justify-content: center;
  }

  

  .oeremaerket-image img {
    width: 100%;
    border-radius: 2rem;
    display: block;
  }

  @media (min-width: 900px) {

    .oeremaerket-section {
      padding: 6rem 4rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 5rem;
    }

    .oeremaerket-content {
      max-width: 560px;
    }

    .oeremaerket-content h2 {
      font-size: 3rem;
    }

    .oeremaerket-content p {
      font-size: 1.2rem;
    }

    .oeremaerket-button-wrap {
      justify-content: flex-start;
    }

    .oeremaerket-image img {
      max-width: 100%;
    }

  }
</style>
