---

---
<section class="local-support">
  <div class="local-support-text">
    <h2>Se hvordan Dankort støtter dit lokalsamfund</h2>

    <div class="support-point">
      <span>+</span>
      <div>
        <h3>Styrker lokale butikker</h3>
        <p>Lavere gebyrer betyder mere i kassen til den lokale butiksejere</p>
      </div>
    </div>

    <div class="support-point">
      <span>+</span>
      <div>
        <h3>Lavere gebyrer</h3>
        <p>Op til 50% billigere for butikken end internationale kortløsninger</p>
      </div>
    </div>

    <div class="support-point">
      <span>+</span>
      <div>
        <h3>Støtter dansk natur</h3>
        <p>Hver gang du betaler med Dankort støtter du den danske natur</p>
      </div>
    </div>
  </div>

  <div class="local-support-image">
    <img src="Img/sparer-butik.webp" alt="Lokal butiksejer med Dankort besparelse" />
  </div>
</section>

<style>
  .local-support {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: white;
  }

  .local-support h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 900;
  }

  .support-point {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .support-point span {
    color: var(--the-red);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }

  .support-point h3 {
    font-size: 1.3rem;
    margin: 0 0 0.8rem;
  }

  .support-point p {
    margin: 0;
    color: rgb(93, 93, 93);
    font-size: 1rem;
    line-height: 1.45;
  }

  .local-support-image img {
    width: 100%;
    border-radius: 1rem;
    display: block;
  }

  @media (min-width: 900px) {
    .local-support {
      padding: 6rem 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 5rem;
    }

    .local-support h2 {
      text-align: left;
      font-size: 2.4rem;
      font-weight: 900;
    }

    .support-point h3 {
      font-size: 1.7rem;
    }

    .support-point p {
      font-size: 1.3rem;
    }
  }
