
<section class="trin">

  <span class="small-text">
    SÅDAN VIRKER DET<br>
  </span>

  <h2>Trin for trin</h2>

  <div class="trin-wrapper">

    <div class="trin-card">
      <div class="number">1</div>

      <h3>Betal med Dankort</h3>

      <p>
        Brug dit Dankort til at betale med kort eller mobil
      </p>
    </div>

    <div class="arrow">→</div>

    <div class="trin-card">
      <div class="number">2</div>

      <h3>En øre doneres automatisk</h3>

      <p>
        For hver betaling donerer Dankort 1 øre automatisk
      </p>
    </div>

    <div class="arrow">→</div>

    <div class="trin-card">
      <div class="number">3</div>

      <h3>Banker og butikker donerer også</h3>

      <p>
        Banker og butikker donerer også 1 øre hver ved betaling
      </p>
    </div>

    <div class="arrow">→</div>

    <div class="trin-card">
      <div class="number">4</div>

      <h3>Endnu mere dansk natur</h3>

      <p>
        Pengene går til mere vild natur i Danmark
      </p>
    </div>

  </div>
  
</section>

<style>

.trin {
  background: #e9e9e9;
  padding: 3rem;
  border-radius: 32px;
  margin: 2rem;
  filter: drop-shadow(0px 10px 6px rgba(0,0,0,0.4));

}

.small-text {
  font-size: 0.9rem;
  color: #555;
}

.trin h2 {
  font-size: 2.2rem;
  margin: 0.5rem auto 1rem auto;}

.trin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.trin-card {
  text-align: center;
  max-width: 320px;
  width: 100%;
  flex: 1 1 auto;
}

.number {
  width: 80px;
  height: 80px;

  border: 2px solid #E21E27;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 2rem;

  font-size: 2.5rem;
  font-weight: 700;
  color: #E21E27;
}

.trin-card h3 {
  margin-bottom: 1rem;
}

.trin-card p {
  color: #555;
  line-height: 1.5;
}

.arrow {
  display: none;
  font-size: 3rem;
  margin-top: 1rem;

  flex-shrink: 0;
}

@media (min-width: 900px) {
  .trin h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .trin-wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .trin-card {
    max-width: 180px;
    width: auto;
    flex: 1 1 180px;
  }

  .arrow {
    display: block;
  }
}
</style> 